@import "tailwindcss";

:root {
  --background: 255 255 255;
  --foreground: 23 23 23;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 10 10 10;
    --foreground: 237 237 237;
  }
}

html, body {
  height: 100%;
}

body {
  background: linear-gradient(to bottom, #ffffff 0%, #fafafa 60%, #ffffff 100%);
  color: rgb(var(--foreground));
}
